.container {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -30%);
  max-width: 500px;
  padding: 60px 35px;
  #loginIcon {
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    z-index: 99;
  }
  #formContent {
    margin: 40px 10% 0px 30px;
    .send-button {
      position: absolute;
      left: 50%;
      top: 90%;
      transform: translate(-50%, -90%);
    }
    #test1, #test2 {
      margin-top: 40px;
    }
    #resetpassword {
      display: none;
    }
  }
}

