.clearfix {
  display: table;
  content: "";
  clear: both;
}

#filterButton {
  position: absolute;
  left: 71%;
  top: 60px;
}

#dateButton {
  height: 100%;
  line-height: 1.4;
  padding: 10px 10px;
  margin-top: 20px;
}

#filterContainer {
  margin-top: 30px;
}

.badge {
  color: white;
  background-color: #d32f2f;
  border-radius: 2px;
}

.myPagination /deep/ .ngx-pagination .current {
  background: #ef5350;
  border-radius: 3px;
}

#tableData {
  display: none;
  animation: in 0.2s linear;
}

#cardData {
  animation: in 0.2s linear;
  mz-card {
    cursor: pointer;
    b {
      color: #212121;
      cursor: pointer;
    }
  }
}

@keyframes in {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media only screen and (max-width: 568px) {
  #filterButton {
    left: 40%;
  }
}

thead > tr > th {
  cursor: pointer;
}
mz-sidenav-link a:hover, mz-sidenav-link a {
  text-decoration: none;
}
.info-item {
  display: block;
  width: 80%;
  margin: 0 auto;
}
.header-item-modal {
  font-family: Roboto;
  color: #ee6e73;
}
.collapsible-container {
  width: 90%;
  margin: 0 auto;
}
.info-item-add {
  @extend .info-item;
  width: 100%;
  display: block;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  line-height: 48px;
  padding: 0 32px;
  i {
    font-size: 30px;
  }
}
.btn.disabled, .disabled.btn-large, .btn-floating.disabled, .btn-large.disabled, .btn-flat.disabled, .btn:disabled, .btn-large:disabled, .btn-floating:disabled, .btn-large:disabled, .btn-flat:disabled, .btn[disabled], [disabled].btn-large, .btn-floating[disabled], .btn-large[disabled], .btn-flat[disabled] {
  background-color: #e57373 !important;
  color: #ffebee !important;
}
.tableBodyClickable{
  cursor: pointer;
}